config.stopBubbling = true
lombok.tostring.callsuper=CALL
lombok.equalsandhashcode.callsuper=CALL
lombok.accessors.chain=true

# 这个文件找半天， 因为觉得可以不用一个个文件的手工添加 @Accessors(chain = true)， 结果呢， 网上搜索很久都搜索不到， 尝试各种修改都还是不行。
# 其实关键就一个配置： lombok.accessors.chain=true； 否则总是出现 。。。 AliyunSmsClient.java:91:51   java: 无法取消引用void


# 我在idea 中使用了 lombok ， 并做了相应的配置。 然后我创建了java pojo类，并是类名上添加了@Data注解。 接着我去代码中使用那个pojo，他有getter、setter 方法，但是没有链式方法，也就是说生成的setter 方法的返回值是void， 这个不是我想要的，请问怎么修改或调整呢？  一个小小问题，搞了整整一个下午。。
# 还以为是 jdk14 和lombok 不兼容的原因。。

